.regulatorRotation0 {
    transform: rotate(0);
}

.regulatorRotation1 {
    transform: rotate(-90deg);
}

.regulatorRotation2 {
    transform: rotate(-135deg);
}

.regulatorRotation3 {
    transform: rotate(-45deg);
}

.indicatorRotation0 {
    transform: rotate(0deg);
}

.indicatorRotation1 {
    transform: rotate(45deg);
}

.indicatorRotation2 {
    transform: rotate(90deg);
}

.indicatorRotation3 {
    transform: rotate(135deg);
}

.indicatorRotation4 {
    transform: rotate(180deg);
}

.indicatorRotation5 {
    transform: rotate(-135deg);
}

.indicatorRotation6 {
    transform: rotate(-90deg);
}

.indicatorRotation7 {
    transform: rotate(-45deg);
}
